html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* * Globales */
body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
    /* background-image: linear-gradient(to top,#EBF4FA 0%, var(--principal-oct-) 100%); */

}
/* body{
    background-image: url(../img/carretera.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no repeat;
    height: 100vh;
    min-height: 60rem;

} */

img {
    max-width: 100%;
}

.contenedor {
    max-width: 95%;
    max-width:  120rem;
    margin: 0% auto;/*estable que el margen regre a la normalidad*/

}
/*colors*/
:root{
    /*pincipales*/
    --principal:#FFFFFF;
    --principal-pri:#68ddbd;
    --principal--seg:#96305a;
    --principal-ter:#014ba0;
    --principal--cuart:#2f2c79;
    --principal-quin:#675cb0;
    --principal-sext:#3b3a30;
    --principal-set:#000000;
    --principal-oct:#808080;
    --principl-nov:#fff;
    /*secundarios*/
    --primario:#95fab9;
    --primario-seg:#c3f8ff;
    --primario--ter:#c7f7f7;
    --primario-cuart:#aedddd;
    --secundario-prima:#96c4c4;
    --secundario-seg:#5086c1;
    --secundario-ter:#84b6f4;
    --secundario-cuart:#dcffff;
    --tercerio-prima:#009d71;
    --tercerio-seg:#5ccda7;
    --tercerio-ter:#98ffe0;
    --tercerio-cuart:#009092;
}
h3{
    text-align: center;
}
.fw-300 .centrar-texto{
    color: #000000;
}
h2{
    text-align: center;
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}
h1{
    color: var(--principal);
    font-size: 5rem;
    font-family: 'Instrument Serif', serif;
}
.mundo h1{
    font-size: 6rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.site-header.inicio {
    background-image: url(../img/rodadas.webp);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 60rem;
    position: relative;

}
/*.contenedor{
    width: 100%;
    background-color: rgba(0,0,0, .7)//somnrear una img
    height: 100%;
}*/
.contenido-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
@media (min-width: 768px){
    .contenido-header {
        text-align: left;
    }
}
.barra {
    padding-top: 3rem;
}

@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

/* * Iniciamos estilos de navegación */
.navegacion a {
    color: #fff;
    text-decoration: none;
    font-size: 2.2rem;
    display: block;
}
@media (min-width: 768px) {
    .navegacion a {
        display: inline-block;
        font-size: 1.8rem;
        margin-right: 2rem;
    }
    .barra a:last-of-type {
        margin: 0;
    }
}
.navegacion a:hover {
    color:var(--principal--seg);
}

/* * Inicia el menú responsivo */
.mobile-menu {
    width: 5rem;
}
@media(min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}
.navegacion:target {
    display: block;
}
.navegacion {
    display: none;
}
@media (min-width: 768px) {
    .navegacion {
        display: block;
    }
}
.contenedor-h2{
    background-color: var(--principal--cuart);
    border-top: 0;
    height: 5rem;
}

.main-contenido h2{
    text-align: center;
    color: var(--principal);
}
/*servicios*/
/* * Iconos */
.servicios{
    display:grid;/*permite  establecer la dividicion de la parte de los servicios*/
    grid-template-columns: repeat(3,3fr);
    /*grid-template-columns: 20% 20% 20% ;/*crea las colunas con un tamaño del 20% de espacio del contenedor*/
    column-gap:  60px;/*realiza la separacion de las columnas*/
}
.servicio{
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color:#fff
}
.servicio h4{
    color: var(--prueba);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3rem;
    color: var(--principal--cuart);
    

}/**/
.servicio p{
    line-height: 2rem;/*permite arreglar el inter lineado del parrafo o txt*/
    text-align: center;/*centra el txt*/
}
.servicio .incono{
    height: 15rem;/*establece la altura */
    width: 15rem;/*establece el ancho a px*/
    background-color: var(--primaro);/*cambia de color*/
    border-radius: 50%;/*es para hacer las esquinas redondas pero si es cuadrado y pones 50% se convierte en circulo*/
    display: flex;/*los pone uno en frente del otro*/
    justify-content:space-evenly;/*la centra*/
    align-items: center;/*permite alinear verticalmente*/
}
.sombra{/*permite dar una sombra esto lo consigues en pag.css matic*/
    -webkit-box-shadow: -34px 22px 10px -4px rgba(122,118,122,0.58);
    -moz-box-shadow: -34px 22px 10px -4px #7a767a94;
    box-shadow: -34px 22px 10px -4px rgba(122,118,122,0.58);
    background-color: var(--blanco);
    padding: 3rem;
    border-radius: 2rem;/*cambia el borde de la sombra*/
}
@media (max-width: 768px) {
    .servicios {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .servicios {
        grid-template-columns: 1fr;
    }
}

/*card media pantalla*/
.izquierda {
    background-color: #86b5dc;
    width: 100%;
    height: 100vh;

}

.derecha {
    background: url(../img/libre.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

#pantalla-div {
    display: flex;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 5rem; 
}

.izquierda h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #000000;
}

.izquierda p {
    font-size: 1.7rem;
        line-height: 2.5rem; /* Ajustar el valor según sea necesario */
        text-align: justify;
        margin-bottom: 3rem; /* Agregar margen inferior para separar los párrafos */
}

@media (min-width: 768px) {
    .izquierda {
        width: 50%;
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .derecha {
        width: 50%;
    }

    .izquierda h2,
    .izquierda p {
        margin-left: 15rem;
        width: 50%;
    }
}

@media (max-width: 480px) {
    #pantalla-div {
        padding: 2rem;
    }

    .izquierda h2,
    .izquierda p {
        margin-left: 2rem;
        width: 100%;
    }
} 


/*segunda pantall*/
.derecha-dos {
    background-color: #86b5dc;
    width: 100%;
    height: 100vh;
}

.izquierda-dos {
    background: url(../img/espiritu.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.derecha-dos h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #000000;
}
.derecha-dos p {
    font-size: 1.7rem;
    line-height: 2.5rem; /* Ajustar el valor según sea necesario */
    text-align: justify;
    margin-bottom: 4rem; /* Agregar margen inferior para separar los párrafos */
}

@media (min-width: 768px) {
    .derecha-dos {
        width: 50%;
        padding-left: 5rem;
        padding-right: 5rem;
    }
    .izquierda-dos {
        width: 50%;
    }

    .derecha-dos h2,
    .derecha-dos p {
        margin-left: 15rem;
        width: 50%;
    }
}

@media (max-width: 480px) {
    .derecha-dos h2,
    .derecha-dos p {
        margin-left: 2rem;
        width: 100%;
    }
}

/*cards*/
.contenedor-tarjeta {
    width: 100%;
    max-width: 2500px;
    display: flex;
    align-items: center;
}

.tarjeta {
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: var(--principl-nov);
    box-shadow: -34px 22px 10px -4px rgba(122, 118, 122, 0.58);
    cursor: default;
    transition: all 400ms ease;
}

.tarjeta:hover {
    box-shadow: -34px 22px 10px -4px rgba(126, 120, 126, 0.60);
    transform: translateY(-3%);
}

.tarjeta img {
    width: 100%;
    height: 420px;
    /* max-height: 420px; */
    /* object-fit: cover; */
}

.contenido {
    padding: 3rem;
    text-align: center;
}

p {
    list-style: none;
    color: #27212794;
}

.tar {
    font-weight: 400;
    margin: 3rem;
}

.contenedor-tarjeta a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    color: #ff0571;
    border: solid #ff0571;
    border-radius: 4px;
    transition: all 400ms ease;
}

.tar .contenedor a:hover {
    background: #ff0571;
    color: rgb(9, 169, 243);
}

/* Estilos responsive */

@media (max-width: 768px) {
    .contenedor-tarjeta {
        flex-direction: column;
        align-items: flex-start;
    }

    .tarjeta {
        margin: 20px 0;
    }

    .tarjeta img {
        max-height: 300px;
    }
}

@media (max-width: 480px) {
    .tarjeta {
        margin: 10px 0;
    }

    .tarjeta img {
        max-height: 200px;
    }

    .contenido {
        padding: 2rem;
    }

    p {
        font-size: 14px;
    }

    .tar {
        margin: 2rem;
    }

    .contenedor-tarjeta a {
        padding: 8px;
        margin: 8px;
    }
}


/* comentaros */
.contain {
    max-width: 900px;
    margin: 0 auto;
    padding-top: 3rem;
    padding-bottom: 4rem;
    background-color: #000000;
}

.contain h2 {
    text-align: center;
    font-size: 4rem;
    color: #ff0571;
}

form {
    margin-top: 20px;
}

label, input, textarea {
    display: block;
    margin-bottom: 10px;
    color: #FFFFFF;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 4px;
    color: #000;
}

input[type="submit"] {
    background-color: #4c7aaf;
    color: #ffff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .contain {
        padding: 2rem;
    }
    
    .contain h2 {
        font-size: 2.5rem;
    }
}


/*:::::Pie de Pagina*/
.pie-pagina{
    width: 100%;
    background-color:  #757575;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}