html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* * Globales */
body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
    /* background-image: linear-gradient(to top,#EBF4FA 0%, var(--principal-oct-) 100%); */
}
img {
    max-width: 100%;
}

.contenedor {
    max-width: 95%;
    max-width:  120rem;
    margin: 0% auto;/*estable que el margen regre a la normalidad*/

}
/*colors*/
:root{
    /*pincipales*/
    --principal:#FFFFFF;
    --principal-pri:#68ddbd;
    --principal--seg:#96305a;
    --principal-ter:#014ba0;
    --principal--cuart:#2f2c79;
    --principal-quin:#675cb0;
    --principal-sext:#3b3a30;
    --principal-set:#000000;
    --principal-oct:#808080;
    --principl-nov:#fff;
    /*secundarios*/
    --primario:#95fab9;
    --primario-seg:#c3f8ff;
    --primario--ter:#c7f7f7;
    --primario-cuart:#aedddd;
    --secundario-prima:#96c4c4;
    --secundario-seg:#5086c1;
    --secundario-ter:#84b6f4;
    --secundario-cuart:#dcffff;
    --tercerio-prima:#009d71;
    --tercerio-seg:#5ccda7;
    --tercerio-ter:#98ffe0;
    --tercerio-cuart:#009092;
}
h1{
    color: var(--principal);
    font-size: 5rem;
    font-family: 'Instrument Serif', serif;
}
.site-header.inicio {
    background-image: url(../img/rodadas.webp);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 60rem;
    position: relative;

}
/*.contenedor{
    width: 100%;
    background-color: rgba(0,0,0, .7)//somnrear una img
    height: 100%;
}*/
.contenido-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
@media (min-width: 768px){
    .contenido-header {
        text-align: left;
    }
}
.barra {
    padding-top: 3rem;
}

@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

/* * Iniciamos estilos de navegación */
.navegacion a {
    color: #fff;
    text-decoration: none;
    font-size: 2.2rem;
    display: block;
}
@media (min-width: 768px) {
    .navegacion a {
        display: inline-block;
        font-size: 1.8rem;
        margin-right: 2rem;
    }
    .barra a:last-of-type {
        margin: 0;
    }
}
.navegacion a:hover {
    color:var(--principal--seg);
}

/* * Inicia el menú responsivo */
.mobile-menu {
    width: 5rem;
}
@media(min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}
.navegacion:target {
    display: block;
}
.navegacion {
    display: none;
}
@media (min-width: 768px) {
    .navegacion {
        display: block;
    }
}
.contenedor-h2{
    background-color: var(--principal--cuart);
    border-top: 0;
    height: 5rem;
}

.main-contenido h2{
    text-align: center;
    color: var(--principal);
}

.contenedor {
    max-width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.presentacion {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.somos {
    flex: 1 1 300px;
    max-width: 500px;
    text-align: center;
    padding: 20px;
    
}

.somos h2 {
    font-size: 3rem;
    color: var(--principal--seg);
    margin-bottom: 10px;
}

.somos p {
    font-size: 16px;
    margin-bottom: 10px;
    text-align: justify;
}

.foto {
    flex: 1 1 300px;
    max-width: 600px;
    text-align: center;
}
    .foto img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    float: right; /* Alinea la imagen a la derecha */
    margin-left: 20px; /* Agrega un espacio entre la imagen y el texto */
}

@media screen and (max-width: 600px) {
    .presentacion {
      flex-direction: column; /* Cambia a un diseño de columna en dispositivos móviles */
    }
    
.somos, .foto {
    flex: 1 1 100%;
    max-width: 100%;
    text-align: center;
    }
    
    .foto img {
      float: none; /* Elimina la alineación flotante en dispositivos móviles */
      margin: 0; /* Elimina el margen entre la imagen y el texto */
      margin-bottom: 20px; /* Agrega un espacio entre la imagen y el texto en dispositivos móviles */
    }
}
/*:::::Pie de Pagina*/
.pie-pagina{
    width: 100%;
    background-color:  #757575;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}
.inf{
    text-align: justify;
    margin-left: 8rem;
    margin-right: 8rem;
}
.carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none; /* Oculta la barra de desplazamiento */
    -ms-overflow-style: none; /* Oculta la barra de desplazamiento (IE y Edge) */
}

.slide {
    flex: 0 0 80%;
    scroll-snap-align: start;
}

.slide img {
    width: 100%;
    height: auto;

}
.slide img{
    max-width: 600px;
    max-height: 450px;
    background-repeat: no-repeat;
}

/* Estilos adicionales para mejorar la apariencia y funcionalidad */

.carousel::-webkit-scrollbar {
  display: none; /* Oculta la barra de desplazamiento (Chrome, Safari, Opera) */
}

.carousel::-moz-scrollbar {
  display: none; /* Oculta la barra de desplazamiento (Firefox) */
}

@media (min-width: 768px) {
    .slide {
    flex: 0 0 33.333%;
    }
}
