html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
     margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* * Globales */
body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}
/* body{
    background-image: url(../img/carretera.jpg);
    
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat!important;
    height: 100%;
    min-height: 60rem;

} */

img {
    max-width: 100%;
}

.contenedor {
    max-width: 95%;
    max-width:  120rem;
    margin: 0% auto;/*estable que el margen regre a la normalidad*/

}
/*colors*/
:root{
    /*pincipales*/
    --principal:#FFFFFF;
    --principal-pri:#68ddbd;
    --principal--seg:#96305a;
    --principal-ter:#014ba0;
    --principal--cuart:#2f2c79;
    --principal-quin:#675cb0;
    --principal-sext:#3b3a30;
    --principal-set:#000000;
    --principal-oct:#808080;
    --principl-nov:#fff;
    /*secundarios*/
    --primario:#95fab9;
    --primario-seg:#c3f8ff;
    --primario--ter:#c7f7f7;
    --primario-cuart:#aedddd;
    --secundario-prima:#96c4c4;
    --secundario-seg:#5086c1;
    --secundario-ter:#84b6f4;
    --secundario-cuart:#dcffff;
    --tercerio-prima:#009d71;
    --tercerio-seg:#5ccda7;
    --tercerio-ter:#98ffe0;
    --tercerio-cuart:#009092;
}
h1,h2,h3{
    font-family: 'Instrument Serif', serif;
}
h1{
    color: var(--principal);
    font-size: 5rem;
}
h2{
    text-align: center;
    font-size: 4rem;
    color: var(--principal);
}
h3{
    text-align: center;
    font-size: 3.5rem;
    color: var(--principal--seg);
}
p{
    color: var(--principal-set);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    text-align: justify;
}
.site-header.inicio {
    background-image: url(../img/ModalidadesMTB.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 60rem;
    position: relative;

}
.contenido-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
@media (min-width: 768px){
    .contenido-header {
        text-align: left;
    }
}
.barra {
    padding-top: 3rem;
}

@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

/* * Iniciamos estilos de navegación */
.navegacion a {
    color: #fff;
    text-decoration: none;
    font-size: 2.2rem;
    display: block;
}
@media (min-width: 768px) {
    .navegacion a {
        display: inline-block;
        font-size: 1.8rem;
        margin-right: 2rem;
    }
    .barra a:last-of-type {
        margin: 0;
    }
}
.navegacion a:hover {
    color:var(--principal--seg);
}

/* * Inicia el menú responsivo */
.mobile-menu {
    width: 5rem;
}
@media(min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}
.navegacion:target {
    display: block;
}
.navegacion {
    display: none;
}
@media (min-width: 768px) {
    .navegacion {
        display: block;
    }
}
.subcontenido{
    background-color: rgba(156, 194, 209, 0.2);
    padding-left: 4rem;
    padding-right: 4rem;
    color: var(--principal--seg);
    padding-bottom: 4rem;
}

.subcontenido h2{
    color: var(--principal--seg);
}

.subcontenido p{
    font-size: 1.5rem;
    text-align: justify;
}
.subtitulo h2{
    color: var(--principal--seg);
}
video{
    width: 100%;
    height: auto;
}



/* inicio facture*/
#factures {
    padding-top: 5%;
    padding-bottom: 5%;
}

#factures p {
    margin: 10px 0;
    line-height: 1.7em;
    border-radius: 20%;
    padding: 3rem;
}

.container h2 {
    padding-bottom: 5rem;
    text-align: center;
    font-size: 4rem;
    color: #000;
}

.factures-imagen-1 {
    float: left;
    width: 50%;
    padding: 30px;
}

.factures-imagen-1 img {
    width: 100%;
    border-radius: 20%;
}

.factures-text-1 {
    float: right;
    width: 50%;
    padding: 30px;
}

.factures-text-2 {
    float: left;
    width: 50%;
    padding: 30px;
    text-align: right;
}

.factures-imagen-2 {
    float: right;
    width: 50%;
    padding: 30px;
}

.factures-imagen-2 img {
    float: right;
    width: 50%;
    max-width: 800px;
}

.factures-imagen-2 img,
.factures-imagen-3 img {
    width: 100%;
    border-radius: 20%;
    max-width: 600px;
}

.factures-imagen-3 {
    float: left;
    width: 50%;
    padding: 30px;
}

.factures-text-3 {
    float: right;
    width: 50%;
    padding: 30px;
}
.boton {
    text-align: center;
}

.boton a {
    display: inline-block;
    padding: 5px 5px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

  /* Media Queries */

@media (max-width: 768px) {
    .factures-imagen-1,
    .factures-imagen-2,
    .factures-imagen-3,
    .factures-text-1,
    .factures-text-2,
    .factures-text-3 {
    float: none;
    width: 100%;
    padding: 20px;
    }
    
    .factures-imagen-2 img,
    .factures-imagen-3 img {
    max-width: 100%;
    }
}
/* fin facture */
/* cards */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.container__cards{
    max-width: 1500px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    width: 400px;
    margin: 10px;
    transition: all 300ms;
    border-radius: 13px solid var(--principal-sext);
}

.card:hover{
    width: 400px;
}

.card .cover{
    width: 100%;
    height:200px;
    position: relative;
    overflow: hidden;
}

.card .cover img{
    width: 450px;
    display: block;
    margin: auto;
    position: relative;
    top: 40px;
    z-index: 1;
    filter: drop-shadow(5px 5px 4px rgba(0,0,0,0.5));
    transition: all 400ms;
}

.card:hover .cover img{
    top: 0px;
    filter: none;
}

.card .img__back{
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: -80px;
    left: 0;
    background-size: cover;
    border-radius: 20px;
    transition: all 300ms;
}
:hover .img__back{
    bottom: -40px;
}

.card .description{
    background: white;
    margin-top: -10px;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
    transition: all 300ms;
    
}

.card:hover .description{
    padding: 40px;
}

.card .description h2{
    margin-top: 10px;
}

.card .description p{
    margin-top: 10px;
}

.card .description input{
    padding: 10px 40px;
    margin-top: 20px;
    border: none;
    background: #A6359D;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 300ms;
}

.card .description input:hover{
    background: #83277b;
}
/* fin */

/*cards*/
.contenedor-tarjeta {
    width: 100%;
    max-width: 1500px;
    display: flex;
    align-items: center;
}

.tarjeta {
    width: 80%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: var(--principl-nov);
    box-shadow: -34px 22px 10px -4px rgba(122, 118, 122, 0.58);
    cursor: default;
    transition: all 400ms ease;
}

.tarjeta:hover {
    box-shadow: -34px 22px 10px -4px rgba(126, 120, 126, 0.60);
    transform: translateY(-3%);
}

.tarjeta img {
    width: 100%;
    height: 420px;
    /* max-height: 420px; */
    /* object-fit: cover; */
}

.contenido {
    padding: 3rem;
    text-align: center;
}

p {
    list-style: none;
    color: #27212794;
}

.tar {
    font-weight: 400;
    margin: 3rem;
}

.contenedor-tarjeta a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    color: #ff0571;
    border: solid #ff0571;
    border-radius: 4px;
    transition: all 400ms ease;
}

.tar .contenedor a:hover {
    background: #ff0571;
    color: rgb(9, 169, 243);
}

/* Estilos responsive */

@media (max-width: 768px) {
    .contenedor-tarjeta {
        flex-direction: column;
        align-items: flex-start;
    }

    .tarjeta {
        margin: 20px 0;
    }

    .tarjeta img {
        max-height: 300px;
    }
}

@media (max-width: 480px) {
    .tarjeta {
        margin: 10px 0;
    }

    .tarjeta img {
        max-height: 200px;
    }

    .contenido {
        padding: 2rem;
    }

    p {
        font-size: 14px;
    }

    .tar {
        margin: 2rem;
    }

    .contenedor-tarjeta a {
        padding: 8px;
        margin: 8px;
    }
}

.tarje {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Añadido */
  }
  .card img{
    max-width: 300px;
    height: 300px;
  }
  .card {
    width: 330px;
    margin: 10px;
    padding: 20px;
    background-color: #f1f1f1;
  }
  
  
  .card-title {
    font-size: 20px;
    margin-top: 10px;
  }
  
  .card-description {
    margin-top: 5px;
  }
  .info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.2rem;
  }
  
  .info a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    color: #ff0571;
    border: solid #ff0571;
    border-radius: 4px;
    transition: all 400ms ease;
    
  }
  
  .info a:hover {
    background: #ff0571;
    color: rgb(9, 169, 243);
  }
/*:::::Pie de Pagina*/
.pie-pagina{
    width: 100%;
    background-color:  #757575;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}